@font-face {
    font-family: "OpenSans";
    font-style: normal;
    font-weight: normal;
    src: local("OpenSans-Regular"), url("../fonts/OpenSans-Regular.ttf"),
    url("../fonts/OpenSans-Regular.woff");
}

@font-face {
    font-family: "OpenSans";
    font-style: normal;
    font-weight: bold;
    src: local("OpenSans-Bold"), url("../fonts/OpenSans-Bold.ttf"),
    url("../fonts/OpenSans-Bold.woff"),
    url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
}

html {
    font-family: "OpenSans";
}

body {
    margin: 0;
}

.popup__wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 10;
}

.popup__container {
    width: 390px;
    max-width: 90%;
    height: 59vh;
    min-height: 400px;
    background-color: #f3ede3;
    position: fixed;
    margin: 24vh auto 17vh;
}

.popup {
    margin: 10px 30px;
}

.popup__title {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.popup .hr-line {
    margin-bottom: 15px;
}

.popup__block {
    margin-bottom: 25px;
}

.popup__title span{
    font-size: 20px;
    font-weight: bold;
}

.popup label {
    padding-right: 10px;
}


#visits__select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 330px;
    height: 48px;
    color: #7a7777;
    padding-left: 25px;
    margin-top: 10px;
    border: none;
    background: url("../svg/sort-solid.svg");
    background-color: rgba(220, 214, 214, 0.61);
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: 310px center;
}

.radio__email {
    margin-top: 5px
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #b59f5b;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

#popup__text {
    width: 90%;
    height: 17vh;
    border: none;
    background-color: rgba(220, 214, 214, 0.61);
    padding-left: 25px;
}

.popup .button {
    margin: 0;
}

#close:checked ~ .popup__wrapper {
    display: none;
    width: 100px;
}

#close:checked {
    display: none;
}

#close {
    appearance: none;
    position: fixed;
    top: 20vh;
    right: calc(50vw - 175px);
    font-size: 40px;
    cursor: pointer;
    z-index: 20;
}

#close:after {
    position: absolute;
    font-family: "Font Awesome 6 Free";
    content: "\f057";
    color: #f5f7f6;
    font-size: 25px;
}

@media(max-height: 600px) and (max-width: 600px){
    .popup__container {
        margin-top: 8vh;
        margin-bottom: 8vh;
        height: 80vh;
    }
    .popup__block {
        margin-bottom: 5px;
    }
    #popup__text {
        height: 5vh;
    }
    #close {
        top: 1vh;
    }
}

@media(max-height: 600px) and (min-width: 600px){
    .popup__container {
        margin-top: 10vh;
        margin-bottom: 8vh;
        height: 82vh;
    }

    #popup__text {
        height: 12vh;
    }

    #close {
        top: 3vh;
    }
}

@media (min-height: 640px) and (max-height: 800px) {
    .popup__container {
        margin-top: 15vh;
        margin-bottom: 15vh;
        height: 70vh;
    }

    #popup__text {
        height: 10vh;
    }

    #close {
        top: 7vh;
    }
}

@media (max-width: 500px) {
    .popup__size {
        font-size: 12px;
    }

    #close {
        right: 10vw;
    }

    .visit__wrapper {
        width: 90%;
        margin: 5%;
    }

    #visits__select {
        width: 100%;
        background-position: 95% center;
    }

    #popup__text {
        height: 10vh;
    }
}


.header {
    position: relative;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.header::before {
    content: "";
    display: block;
    position: absolute;
    background: #000000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    bottom: 0;
    z-index: 1;
}

.top__wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
    padding-top: 20px;
    z-index: 2;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}

.burger__menu {
    display: none;
}



.logo__wrapper {
    margin-right: auto;
}



.menu {
    margin-left: auto;
}

.menu__item {
    list-style-type: none;
    margin: 5px;
    padding-left: 15px;
}

.menu__item-link {
    color: #ffffff;
    font-weight: normal;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
}

.title__wrapper {
    margin-right: auto;
    margin-left: auto;
    padding: 70px 100px;
    text-align: center;
}

.title {
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
}


.title__main-wrapper {
    display: flex;
    flex-direction: column;
}

.title__main {
    text-align: center;
    font-weight: bold;
}

.hr-line {
    margin: 14px auto 30px;
    padding: 0;
    height: 0;
    border: none;
    border-top: 3px solid #dfd9ba;
    max-width: 66px;
    width: 100%;
}

.title__main-wrapper .hr-line {
    margin-bottom: 10px;
}

.trend__wrapper {
    display: flex;
    flex-wrap: wrap;
}

.trend {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.trend:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.5);
}

.trend1 {
    background-image: url("../img/trend1.jpg");
}
.trend2 {
    background-image: url("../img/trend2.jpg");
}
.trend3 {
    background-image: url("../img/trend3.jpg");
}
.trend4 {
    background-image: url("../img/trend4.jpg");
}

.trend__content {
    position: relative;
    border: 4px solid #b59f5b;
    margin: 16px;
    padding: 1vmin;
}

.trend__content div {
    margin-bottom: 10px;
}

.links {
    color: #b59f5b;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

.trend__text span {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
}

.main__content, .products {
    display: flex;
}

.news__content div {
    margin-bottom: 10px;
}

.title__default {
    text-transform: uppercase;
    font-weight: bold;
}

.data-author__block {
    margin-top: 15px;
    width: 215px;
    display: flex;
    justify-content: space-between;
}

.data-author__block span, .data__post {
    font-size: 12px;
    line-height: 40px;
    color: #888888;
}

.data-author__block .news__post-author {
    font-weight: bold;
    color: #000000;
}

.news__text-article {
    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
}


.side__title-wrapper {
    text-align: center;
}

.aside__block {
    margin-bottom: 60px;
}

.aside__block:nth-last-child(1) {
    margin-bottom: 0;
}

.side__title{
    font-size: 14px;
    font-weight: bold;
    color: #0f0d0e;
}

.mini__post {
    display: flex;
    flex-direction: row;
    margin-bottom: 22px;
}

.mini__post__content {
    margin-left: 15px;
}

.data__post {
    position: relative;
    bottom: 13px;
}

.post__title {
    display: block;
    position: relative;
    bottom: 23px;
    font-size: 14px;
    font-weight: bold;
}


.form__search {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}

.input__click {
    box-sizing: border-box;
    padding-left: 18px;
    width: 100%;
    height: 48px;
    border: 0;
    background-color: #f5f7f6;
}

.search__click {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b69f5c;
    min-width: 48px;
}

.search__image {
    height: 18px;
    width: 18px;
}

.input-click-width {
    width: 100%;
}

.button {
    margin-top: 18px;
    width: 100%;
    height: 48px;
    border: none;
    background-color: #b69f5c;
    font-family: inherit;
    cursor: pointer;
}

.button span {
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
}

.tags__wrap {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 1px;
    padding: 0;
}

.tag__element {
    border: 3px solid #f5f7f6;
    margin-right: 5px;
    margin-bottom: 6px;
    padding: 6px 13px;
}

.categories__wrap {
    display: flex;
    flex-direction: column;
}

.category__block {
    display: flex;
}

.count__clue {
    font-size: 12px;
    font-weight: bold;
    color: #b59f5b;
    padding-bottom: 4px;
    padding-left: 4px;
}

.hr-line-long {
    margin: 14px auto;
    padding: 0;
    height: 0;
    border: none;
    border-top: 1px solid #f5f7f6;
    width: 100%;
}



.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.product__content {
    position: relative;
    bottom: 30px;
    padding: 25px;
    border: #b59f5b solid 3px;
}

.product__content .title__default {
    display: block;
    margin-bottom: 5px;
    margin-top: 20px;
}

.product__text {
    font-size: 15px;
}

.product__text a {
    color: #b59f5b;
    text-decoration: none;
}

.product__sell, .products {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.price__wrapper {
    width: 65px;
}

.discount {
    font-size: 14px;
    text-decoration: line-through;
}

.price {
    font-size: 20px;
}

.product .button {
    width: 141px;
}


.footer {
    margin-top: 64px;
    height: 83px;
    background-color: #f5f7f6;
}

.social__block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 367px;
    height: 100%;
}

.social__link {
    margin-right: 28px;
    margin-top: 10px;
}

.social__icon {
    height: 20px;
}


/*----------------------------------------------*/
@media (min-width: 1200px) {

    .header {
        height: 450px;
        background-image: url("../img/banner-bg.jpg");
    }

    .logo__wrapper {
        margin-left: 15px;
    }

    .menu {
        margin-right: 15px;
    }

    .menu__list {
        display: flex;
        margin-top: 0;
    }

    .title__wrapper {
        width: 687px;
    }
    .title {
        font-size: 45px;
        line-height: 75px;
    }

    .logo__wrapper {
        width: 180px;
        height: 40px;
        margin-right: auto;
    }

    .title__main-wrapper {
        margin-top: 15px;
        margin-bottom: 28px;
    }

    .title__main {
        font-size: 20px;
    }

    .trends {
        margin-top: 40px;
    }

    .trend__wrapper {
        flex-wrap: nowrap;
    }

    .trend {
        width: 24.5%;
        height: calc(24.5vw / 1.5);
        margin: 0 0.66% 0 0;
    }

    .trend:nth-child(n + 4) {
        margin-right: 0;
    }

    .trend__text span {
        font-size: 20px;
    }

    .main__content, .our__products {
        max-width: 1170px;
        margin: 64px auto;
    }

    .post__list {
        width: 68%;
        margin-right: 4%;
    }

    .news__block {
        display: flex;
        flex-direction: row;
        margin-bottom: 60px;
    }

    .news__content {
        margin-left: 30px;
    }

    .title__default {
        font-size: 20px;
    }

    .hr-line__post {
        display: none;
    }

    .side__bar {
        width: 24%;
        margin-left: 4%;
    }

    .our__products {
        margin-top: 65px;
    }

    .product__content {
        width: 300px;
    }

}


/*--------------------------------------------------------*/
@media (max-width: 1199px) {
    .burger__menu {
        display: block;
        position: relative;
        top:  10px;
        width: 30px;
        height: 20px;
        z-index: 2;
    }
    .burger__menu span {
        position: absolute;
        background-color: #ffffff;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
    }
    .burger__menu:before,
    .burger__menu:after {
        content: '';
        background-color: #ffffff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
    }
    .burger__menu:before {
        top: 0;
    }
    .burger__menu:after {
        bottom: 0;
    }
    .menu__list {
        display: none;
    }

    .logo__wrapper {
        z-index: 2;
    }

    .title__main-wrapper {
        margin-top: 8px;
        margin-bottom: 15px;
    }

    .news__img {
        width: 100%;
    }

    .news__content {
        margin-bottom: 20px;
    }

    .hr-line__post {
        border-top: 3px #ded9d9 solid;
        border-bottom: none;
        border-right: none;
        border-left: none;
    }


}


@media (min-width: 768px) and (max-width: 1199px) {

    .header {
        height: 390px;
        background-image: url("../img/banner-bg-tablet.jpg");
    }

    .top__wrapper {
        margin: 0 35px;
    }

    .logo__wrapper {
        width: 160px;
        height: 30px;
    }

    .title__wrapper {
        width: 100%;
    }

    .title {
        font-size: 40px;
        line-height: 55px;
        width: 60vw;
        margin-right: auto;
        margin-left: auto;
    }

    .trends {
        margin-top: 18px;
    }

    .title__main {
        font-size: 18px;
    }

    .trend {
        width: 49.5%;
        height: calc(49.5vw / 1.5);
        margin: 0 0.5% 4px 0;
    }

    .trend:nth-child(2n + 2) {
        margin-right: 0;
    }

    .trend__text span {
        font-size: 17px;
    }


    .main__content, .our__products {
        margin: 50px 35px;
    }

    .news__block {
        margin-bottom: 45px;
    }

    .post__list {
        width: 57.5%;
        margin-right: 2%;
    }

    .title__defaulte {
        font-size: 17px;
    }

    .side__bar {
        width: 39%;
        margin-left: 1.5%;
    }

    .products {
        flex-wrap: wrap;
    }

    .product {
        width: 50%;
    }

    .product__content {
        width: 295px;
    }


}

@media (max-width: 767px) {

    .header {
        height: 100vh;
        background-image: url("../img/banner-mobile.jpg");
    }

    .top__wrapper {
        margin: 0 15px;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .burger__menu {
        margin-right: 15px;
    }

    .logo__wrapper {
        margin-top: 30vh;
        width: 270px;
        height: 50px;
        margin-right: auto;
        margin-left: auto;
    }

    .menu {
        order: -1;
    }

    .title__wrapper {
        padding: 60px 20px 80px 20px;
    }

    .title {
        font-size: 26px;
        line-height: 36px;
        max-width: 400px;
    }

    .trends {
        margin-top: 16px;
    }

    .title__main {
        font-size: 16px;
    }

    .trend {
        width: 100%;
        height: calc(100vw / 1.5);
        margin: 0 0 4px 0;
    }

    .trend__text span {
        font-size: 16px;
    }


    .main__content, .our__products {
        margin: 45px 15px;
    }

    .main__content, .products {
        flex-direction: column;
    }

    .post__list {
        width: 100%;
    }

    .news__block {
        margin-bottom: 35px;
    }

    .title__default {
        font-size: 20px;
    }

    .news__text-article {
        font-size: 14px;
        line-height: 20px;
    }


    .side__bar {
        width: 100%;
    }

    .side__title {
        font-size: 16px;
    }


    .our__products {
        margin-top: 45px;
    }

    .products {
        align-items: center;
    }
    .product__content {
        width: 290px;
    }
}
